.rbc-today {
  background-color: #efe6d8;
}
.rbc-toolbar button {
  color: #5b5748;
}
.rbc-toolbar button.rbc-active {
  background-color: #1d1d1c;
  color: white;
}
.rbc-event {
  padding: 2px 4px;
}
